{% set namespace = namespace ? namespace : 'search-form' %}

<div class="{{ namespace }}__container">
  <form class="{{ namespace }}__form" action="/" role="search" method="get" >

      <label class="sr-only" for="s">{{ __('Search', 'zephyr-theme') }}</label>
      <input class="{{ namespace }}__input" type="text" value="{{ query|capitalize }}" name="s" id="s" placeholder="{{ __('Search', 'zephyr-theme') }}..." />
      <button class="{{ namespace }}__button" type="submit">
        {{ __('Search', 'zephyr-theme') }}
      </button>
  </form>
</div>