<article>

  {% set product = post|set_global_product %}

  <a href="{{ post.get_path }}" class="product-card product-card--{{ post.shop_item_alignment }}">

    <div class="product-card__image">
      {{ macros.img(post.thumbnail, 'sq_large') }}
    </div>

    <div class="product-card__content">
      <h3 class="entry-title mb-0">
        {{ post.title }}
      </h3>

      <span class="product-card__price">{{ product.get_price_html }}</span>
    </div>

  </a>

</article>
