{% extends "layouts/base.twig" %}

{% block content %}

  {% set term = post.get_terms('product_cat')[0] %}

  <article itemscope itemtype="http://schema.org/Product"
  class="single-item grid grid--flex grid--full {{ post.class }}"
  data-product-id="{{ post.id }}">

    <div class="single-item__figure grid__item w-12-12 w-md-7-12 flex">
      <ul class="single-images flex w-12-12">
        <li class="single-image w-12-12">
          {% set image = post.thumbnail %}
          {% set src = image.src('shop_main') %}
          <div class="single-image__bg" style="background-image: url({{ src }})"></div>
          <img src="{{ src }}" class="sr-only" alt="{{ image.alt }}" title="{{ image.title }}"/>
        </li>
      </ul>
    </div>

    <div class="single-item__content grid__item w-12-12 w-md-5-12" style="background-color: {{ term.shape_color }}">
      <div class="single-item__content-inner">
        <div class="section section--tight container container--sm">
          {% do action('woocommerce_before_single_product') %}

          <div class="summary entry-summary">

            <h1 class="single-title h3 weight-bold text-upper mb-0">
            	{{ post.title }}
              {{ term.get_field('shape_image').url|file_get_contents }}
            </h1>

            {{ product.get_description|wpautop }}

            <div class="single-price weight-bold mt-1 mb-2 lead">
              {{ product.get_price_html }}
            </div>

            {{ function('woocommerce_template_single_add_to_cart') }}
          </div>

          <meta itemprop="url" content="{{ post.link }}" />

          {% do action('woocommerce_after_single_product') %}
        </div>
      </div>
    </div>
  </article>

{% endblock  %}
