{% extends "single.twig" %}

{% block content %}
  <article>

    <h1>{{ __('Protected:', 'zephyr-theme') }} {{ post.title }}</h1>

    <div class="post-content">
      <p>{{ __('This post is password protected:', 'zephyr-theme') }}</p>

      <form action="/wp-login.php?action=postpass" method="post">
        <label for="pwbox-{{post.ID}}">Password:</label>
        <input name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20" />
        <input class="btn" type="submit" name="Submit" value="Submit" />
      </form>
    </div><!-- .post-content -->

  </article>
{% endblock %}