{% extends "layouts/base.twig" %}

{% block content %}

  {% set term = post.get_terms('product_cat')[0] %}

  <article itemscope itemtype="http://schema.org/Product"
  class="single-item grid grid--flex grid--full {{ post.class }}"
  data-product-id="{{ post.id }}">

    <div class="single-item__figure grid__item w-12-12 w-md-7-12 w-xxl-6-12 flex">
      {% set images = [post.thumbnail.id]|merge(product.get_gallery_image_ids()) %}
      <single-product-slider :active="state.productSliderActive" :navigation-enabled="{{ images|length > 1 ? 'true' : 'false' }}">
        {% for id in images %}
          <slide>
            <image-zoom :active="state.productSliderActive">
              {% set image = TimberImage(id) %}
              {% set src = image.src('shop_main') %}
              <div class="single-image__bg" style="background-image: url({{ src }})" data-bg></div>
              <img src="{{ src }}" class="sr-only" alt="{{ image.alt }}" title="{{ image.title }}"/>
            </image-zoom>
          </slide>
        {% endfor %}
      </single-product-slider>
    </div>

    <div
      class="single-item__content grid__item w-12-12 w-md-5-12 w-xxl-6-12"
      style="background-color: {{ term.shape_color }}"
      v-bind:class="{ 'is-hidden': state.productSliderActive }">
      <div class="single-item__content-inner">
        <div class="container container--sm">
          {% do action('woocommerce_before_single_product') %}

          <back-button class="btn-close" default="/shop">
            {{ (src_dir ~ 'images/close-button.svg')|file_get_contents }}
          </back-button>

          <div class="summary entry-summary">

            <h1 class="single-title h3 weight-bold text-upper mb-0">
            	{{ post.title }}
              {% include 'components/shapes/' ~ term.name ~ '.svg' %}
            </h1>

            {{ product.get_description|wpautop }}

            <div class="single-price weight-bold mt-1 mb-2 lead">
              {{ product.get_price_html }}
            </div>

            {{ function('woocommerce_template_single_add_to_cart') }}

            <meta itemprop="url" content="{{ post.link }}" />

          </div>
        </div>

        <div class="container container--sm">
          {% do action('woocommerce_after_single_product') %}
        </div>
      </div>
    </div>
  </article>

{% endblock  %}
