<filters v-bind:key="'filters'" :store="store" :query="store.state.query">
  <template scope="{ toggleVisibility, applyFilter, hasFilters, clearFilters, currentFilters, search }">

    <div class="filters-toggle-container">
      <div class="grid grid--flex">
        <div class="grid__item w-6-12 w-xl-12-12 order-2--xl">
          <button class="btn btn--secondary btn--sm filters-toggle mr-1" v-on:click="toggleVisibility">
            filter
          </button>
        </div>
        <div class="grid__item w-6-12 w-xl-12-12">
          <router-link to="/shop" class="btn-text color-secondary mt-05 mb-05" v-if="store.state.query.product_cat">
            <b>All Products</b><i class="icon-caret-right"></i>
          </router-link>
        </div>
      </div>
    </div>

    <transition-group name="slide-down">
      <div key="filters" class="filters" v-if="state.filtersActive">
        <div class="container">
          <div class="grid">
            <div class="grid__item w-12-12 text-center">
              <p class="mb-05"><label class="weight-bold">Choose your cut</label></p>
              {% for shape in global_info.filter_shape %}
                {% set term = TimberTerm(shape.term_id) %}
                <router-link to="{{ term.path }}" class="checkbox-shape remove-underline">
                  <input id="filter-shape-{{ shape.slug }}"
                    type="radio"
                    name="{{ shape.taxonomy }}"
                    v-model="currentFilters.{{ shape.taxonomy }}"
                    value="{{ shape.slug }}">
                  <label for="filter-shape-{{ shape.slug }}">
                    <span class="filter-shape" data-title="{{ term.name }}">
                      {% set shapeFile = shape.name == 'Basics' ? 'BasicsB' : shape.name %}
                      {% include 'components/shapes/' ~ shapeFile ~ '.svg' %}
                    </span>
                  </label>
                </router-link>
              {% endfor %}
            </div>

            {# <div class="grid__item w-12-12 w-md-6-12 w-lg-5-12">
              <label class="weight-bold">Type</label>
              {% for type in global_info.filter_type %}
              <div class="checkbox-plain">
                <input id="filter-shape-{{ type.slug }}"
                  type="checkbox"
                  name="{{ type.taxonomy }}"
                  v-model="currentFilters.{{ type.taxonomy }}"
                  value="{{ type.slug }}">
                <label for="filter-shape-{{ type.slug }}">{{ type.name }}</label>
              </div>
              {% endfor %}
            </div> #}

            {# <div class="grid__item w-2-12">
              <p class="mb-05"><button class="btn btn--sm" type="submit">Apply</button></p>
              <p class="mb-0">
                <button
                  class="btn-text btn--negative small-text"
                  v-if="hasFilters"
                  @click.prevent="clearFilters">
                  Clear Filters
                  <i style="font-size:.6em" class="icon-close"></i>
                </button>
              </p>
            </div> #}
          </div>
          <form action="" @submit.prevent="applyFilter">


          </form>
        </div>
      </div>
    </transition-group>

  </template>
</filters>
