<nav class="site-nav">

  <ul class="site-nav__menu">
    {% spaceless %}
    {% for item in main_menu.get_items %}
      <li class="dropdown {{ item.classes | join(' ') }}">

        <a href="{{ item.get_link }}" target="{{ item.is_external ? '_blank' }}">
          {{ item.title }} 
        </a>

        {% if item.get_children %}
        <ul class="site-nav__sub-menu dropdown__menu">
          {% for child in item.get_children %}
          <li class="{{child.classes | join(' ')}}">
            <a href="{{ child.get_link }}" target="{{ child.is_external ? '_blank' }}">
              {{ child.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

      </li>
    {% endfor %}
    {% endspaceless %}
  </ul>

</nav>