{% if post.hero_slides %}
<section id="hero" class="hero-slider slider slider--inverse js-slider">
  
  {% spaceless %}
  {% for slide in post.get_field('hero_slides') %}
    <div class="hero">
      
      <div class="hero__body">

        <div class="container">
          
          <div class="container--md">
            {% if slide.heading %}
              <h2 class="hero__title">{{ slide.heading }}</h2>
            {% endif %}
            
            {% set link = slide|link_vars %}
            
            {% if link.href %}
              <a href="{{ link.href }}" class="btn" target="{{ link.target }}">{{ slide.link_label|default('Learn More') }}</a>
            {% endif %}
          </div>

        </div>
          
      </div>
      
      {# 
        The Background Image Element should stay after the video element, 
        that way we can use CSS to hide the background image, preventing it being loaded, when the video is visible.
       #}
      {% if slide.background %}
        <div id="hero-slide-bg-{{ loop.index }}" class="hero__bg">
          {{ macros.hero_bg('hero-slide-bg-' ~ loop.index , slide.background) }}
        </div>
      {% endif %}

    </div>
  {% endfor %}
  {% endspaceless %}

</section>
{% endif %}
