{% if section.title or section.content %}
<section id="hero-banner-{{ loop.index }}" class="hero hero--banner">

  <div class="hero__overlay"></div>

  <div class="hero__body">

    <div class="container container--xl text-left">

      <div class="container container--flush container--sm">

        <h2 class="hero__title mb-2">{{ section.title }}</h2>

        {% if section.content %}
          <p class="lead mb-2">{{ section.content|striptags }}</p>
        {% endif %}

        {% set link = section|link_vars %}

        {% if link %}
          <a href="{{ link.href }}" target="{{ link.target }}" class="btn">{{ section.link_label|default('Learn More') }}</a>
        {% endif %}

      </div>

    </div>

  </div>


  {% if section.background %}
    {% set image = TimberImage(section.background) %}
    <div class="hero__bg" style="background-image: url({{ image.src('hero_sq') }})">
    </div>
  {% endif %}

</section>
{% endif %}
