<nav id="site-nav" class="modal site-nav animation-group" v-bind:class="{ 'is-in': navOpen, 'is-active': navOpen }">

  <div class="modal__inner site-nav__inner flex-column">

    <div class="container container--full flex-column grow-1 w-10-12">

      <div class="site-nav__top mb-2 w-12-12" data-animate-transform>
        <div class="w-6-12">
          {% include 'components/site-nav-toggle.twig' with {  namespace: 'site-nav', label: '<i class="icon-close"></i>' } %}
        </div>
      </div>

      <div class="grid grid--full w-12-12 grow-1 mt-1">
        <div class="grid__item w-12-12 w-xs-6-12">
          <ul class="site-nav__menu mb-2">
            {% for item in main_menu.get_items %}
            <li class="{{ item.classes|join(' ') }}" data-animate-transform-left={{ loop.index + 1 }}>
              <a href="{{ item.get_path }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="grid__item w-12-12 w-xs-6-12">
          <ul class="site-nav__util mb-2">

            {% for item in util_menu.get_items %}
              <li class="{{ item.classes|join(' ') }}" data-animate-transform-left={{ loop.index + 1 }}>
                <a href="{{ item.get_path }}">{{ item.title }}</a>
              </li>
            {% endfor %}

          </ul>
        </div>
      </div>

      <div class="w-12-12" data-animate-transform={{ main_menu.get_items|length + 1 }}>
        {% include 'components/social-nav.twig' %}
      </div>

      <div class="w-12-12 text-center small-text mt-2" data-animate-transform={{ main_menu.get_items|length + 2 }}>
        <a href="mailto:shop@zephyrjewelry.com">shop@zephyrjewelry.com</a>
      </div>

    </div>

  </div>
</nav>
